html {
    background-color: #1a202c;
}

.App {
    font-family: sans-serif;
    text-align: center;
    user-select: none;
}

.dotWrap {
    display: grid;
    height: 300px;
}

.dotBox,
.startBox {
    grid-column: 1;
    grid-row: 1;
    width: 180px;
    height: 180px;
    display: grid;
}

.startBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dotItem {
    grid-column: 1;
    grid-row: 1;
}

.dot {
    z-index: 0;
}

.startIcon {
    transform: rotate(45deg);
}

.start {
    z-index: 10;
    transition: transform 0.45s cubic-bezier(0.75, 0.5, 0.22, 0.96);
}
